<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="icon" type="image/jfif" href="{% static 'img/patita.jfif' %}">
    <title>Tarjetas</title>
</head>
<style>
  body {
  background-image: url("{% static 'img/istockphoto-1013773010-612x612.jpg' %}");
  
  font-family: "Constantia";
}

.navbar-nav.ml-auto {
  margin-right: 0;
}

.nav-link {
  padding-right: 10px;
}
</style>
<body>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" 
            data-target="#opciones">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <!-- logo -->
        <a class="navbar-brand" href="{% url 'inicio' %}">
          <img src="{% static 'img/patita.jfif' %}" width="30px" height="30px">
        </a>
        
        <!-- enlaces -->
        <div class="collapse navbar-collapse" id="opciones">   
          {% if user.is_authenticated %}
          <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'tarjetas' %}"><Strong>Perros</Strong></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'inicio' %}"><Strong>Home</Strong></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'Vision' %}"><Strong>Vision</Strong></a>
            </li>    
            <li class="nav-item">
              <a class="nav-link" href="{% url 'Formulario' %}"><Strong>Contacto</Strong></a>
            </li>     
            <li class="nav-item ml-auto">
              <a class="nav-link" href="#"><dom>Bienvenid@ {{user.username}}</dom></a>
            </li>
          </ul>
          {% else %}
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'registrar' %}">Registrarse</a>
            </li>
        </ul>
        {% endif %}
            <form class="form-inline mt-2 mt-md-0">
              <input class="form-control mr-sm-2" type="text" placeholder="¿Qué buscas?" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="btnBuscar">Buscar</button>
            </form>
            <div class="navbar-nav ml-auto">
              {% if user.is_authenticated %}
                  <a href="{% url 'logout' %}" id="userBookStop" class="nav-link">
                      <img src="{% static 'img/Perfil.jpg' %}" alt="userBookStop" width="20px">Cerrar Sesión
                  </a>
              {% else %}
                  <a href="{% url 'login' %}" id="userBookStop" class="nav-link">
                      <img src="{% static 'img/Perfil.jpg' %}" alt="userBookStop" width="20px">Iniciar sesión
                  </a>
              {% endif%}
        </div>
    </nav> 
    
    <script type="text/javascript">
      let ubicacionInicial = window.pageYOffset;
      window.onscroll = function () {
          let ubicacionPosterior = window.pageYOffset;
          if (ubicacionInicial >= ubicacionPosterior) {
              document.getElementById("barraNav").style.top = "0";
          }
          else {
              document.getElementById("barraNav").style.top = "-70px";
          }
          ubicacionInicial = ubicacionPosterior
      }
    </script><!--cierre de menu-->
      <br><br>
    <div class="container">
        <div class="row">
            <div class="col-md">
                <div class="card">
                    <img src="{% static 'img/Hamaca-grande-de-macram-para-gato-columpio-colgante-de-macram-cesta-de-cama-para-perro-accesorios.jpg_Q90.jpg_.webp' %}" class="card-img-top">
                    <div class="card-body">
                        <h3 class="card-title"><strong>Hamaca para gatos $8.536</strong></h3>
                        <p class="card-text"> Hamaca colgante para gatos hecha de macre.
                        </p>
                        <a href="#" class="btn btn-outline-success">Ingresar</a>
                    </div>

                </div>
            </div><!--col-->

            <div class="col-md">
                <div class="card">
                  <img src="{% static 'img/feandrea-arbol-para-gatos.jpg' %}" class="card-img-bottom">
                    <div class="card-body">
                        <h3 class="card-title"><Strong>Rascador de gato $15.000</Strong></h3>
                        <p class="card-text">Rascador de gatos de distintos pisos, para que su gato pueda estar en la altura que mas le acomode o simplemente acostarse dentro de su casita para sentirse protegido</p>
                        <a href="#" class="btn btn-outline-primary">Ingresar</a>
                    </div>
                </div>
            </div>
            <div class="col-md">
              <div class="card">
                <img src="{% static 'img/Filtro-autom-tico-de-fuente-de-agua-para-gatos-taz-n-de-bebida-silencioso-el-ctrico.jpg_Q90.jpg_.webp' %}" class="card-img-bottom">
                  <div class="card-body">
                      <h3 class="card-title"><Strong>Dispensador de agua $10.500</Strong></h3>
                      <p class="card-text">Este dispensador de agua proporciona una corriente de agua que permite un flujo constante del movimiento de esta siendo un incentivo para que los gatos puedan tomar mas agua</p>
                      <a href="#" class="btn btn-outline-primary">Ingresar</a>
                  </div>
              </div>
          </div>
          <div class="col-md">
            <div class="card">
              <img src="{% static 'img/Juguete-el-ctrico-inteligente-para-gato-rompecabezas-interactivo-bola-de-peluche-de-elevaci-n-autom-tica.jpg_Q90.jpg_.webp' %}" class="card-img-bottom">
                <div class="card-body">
                    <h3 class="card-title"><strong>Juguete inteligente para gato $7.012</strong></h3>
                    <p class="card-text">Juguete inteligente para gato movible automatico.</p>
                    <a href="#" class="btn btn-outline-primary">Ingresar</a>
                </div>
            </div>
        </div>



        </div>
      
    </div>
    <footer style="background-color: black;">
      <div class="container">
        <div class="row">
          <div class="col-lg-2">
            <h4><Strong style="color: aliceblue;">Redes Sociales</Strong></h4>
            <br><br>
            <img src="{% static 'img/instagram.png' %}" width="40px" height="40px">
            <Strong style="color: crimson;">Instagram</Strong>
            <br><br>
            <img src="{% static 'img/whatsapp.png' %}" width="40px" height="40px">
            <Strong style="color: darkgreen;">Whatsapp</Strong> 
            <br><br>
            <img src="{% static 'img/facebook.png' %}" width="40px" height="40px">
            <Strong style="color: blue;">Facebook</Strong>
            <br><br>
            
          </div>
          <div class="col-lg-1">
            <a href="{% url 'inicio' %}"><Strong>Inicio</Strong></a>
          </div>
          <div class="col-lg-1">
            <a href="{% url 'tarjetas' %}"><Strong>Perros</Strong></a>
          </div>
          <div class="col-lg-1">
            <a href="{% url 'gatos' %}"><Strong>Gatos</Strong></a>
          </div>
          <div class="col-lg-1">
            <a href="{% url 'Vision' %}"><Strong>Vision</Strong></a>
          </div>
          <div class="col-lg-1">
            <a href="{% url 'Formulario' %}"><Strong>Contactanos</Strong></a>
          </div>
          <div class="col-lg-4">
            <p style="text-align: right; margin-top: 150px; color: brown;"> 
              <img src="{% static 'img/patita.jfif' %}" width="40px" height="40px" style="float: right;">
              <br><br>
              <strong>@Copyright Derechos Reservados</strong>
            </p>
          </div>
        </div>
      </div>
    </footer>  





    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>  
</body>
</html>